.Container {
  flex: 30%;
  height: 100%;
  /* background-color: rgba(11, 11, 11, 1); */
  border-right-color: rgba(106, 106, 106, 0.3);
  border-right-style: solid;
}

/* content img */
.ContentImg {
  background-color: transparent;
  height: 130px;
  margin-top: 10px;
}

.Photo {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CirclePhoto {
  width: 130px;
  height: 130px;
  border-radius: 90px;
  background-image: linear-gradient(
    to right,
    rgba(77, 212, 247, 1),
    rgba(144, 144, 251, 1),
    rgba(255, 107, 129, 1),
    rgba(251, 223, 99, 1)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileImg {
  width: 120px;
  height: 120px;
  border-radius: 90px;
  object-fit: cover;

}

.Icon {
  position: absolute;
  cursor: pointer;
  top: 70px;
  left: 330px;
  width: 20px;
  height: 20px;
}

/* content name */
.ContentName {
  /* background-color: green; */
  margin-top: 15px;
  min-height: 50px;
}

.Name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.Name2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: rgba(171, 171, 171, 1);
  font-weight: 500;
}

/* content follow */
.ContentFollow {
  background-color: transparent;
  margin-top: 20px;
  height: 60px;
  display: flex;
}

.Followers {
  background-color: transparent;
  border-right-color: rgba(106, 106, 106, 0.3);
  border-right-style: solid;
  border-left-color: rgba(106, 106, 106, 0.3);
  border-left-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Follow {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 16px;
  font-weight: 300;
  color: rgba(171, 171, 171, 1);
  height: 30px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  height: 30px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content bio */
.ContentBio {
    background-color: transparent;
    margin-top: 30px;
    min-height: 20px;
    max-height: 40px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

/* content button */
.ContentButton {
    background-color: transparent;
    margin-top: 20px;
}

.ContentBtn {
    background-color: transparent;
    border-top-color: rgba(106, 106, 106, 0.3);
    border-top-style: solid;
    border-bottom-color: rgba(106, 106, 106, 0.3);
    border-bottom-style: solid;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.ContentButton button {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    color: white;
    align-items: center;
}

.ContentButton button img{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

/* content button follow */

.BtnGroup {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.Btn {
  width: 120px;
  margin-right: 10px;
  background-image: linear-gradient(
    to right,
    rgba(77, 212, 247, 1),
    rgba(144, 144, 251, 1),
    rgba(255, 107, 129, 1),
    rgba(251, 223, 99, 1)
  );
  border: none;
}

.Btn2 {
  width: 120px;
  margin-right: 10px;
  background-color: rgba(171, 171, 171, 0.15);
  border: none;
}